# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Load and view first few lines of dataset

import pandas as pd
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [2]:
df.duplicated().sum()

0

In [3]:
df.isnull().sum()

student_id    0
gender        0
major         0
admitted      0
dtype: int64

In [4]:
df.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7f64d09a05f8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f64ce5a53c8>]], dtype=object)

### Proportion and admission rate for each gender

In [47]:
print (len(df[df['gender']=='female']))
print (df.shape[0])

257
500

In [52]:
df[df['gender']=='female'].head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
2       31441  female  Chemistry     False
4       53714  female    Physics      True
5       50693  female  Chemistry     False
7       27648  female  Chemistry      True

In [55]:
len(df[df['gender']=='female'])

257

In [56]:
(len(df[df['gender']=='female'])) / (df.shape[0])

0.514

In [25]:
# Proportion of students that are female
print(df.query('gender == "female"').count() / df.count() * 100)

student_id    51.4
gender        51.4
major         51.4
admitted      51.4
dtype: float64

In [7]:
# Proportion of students that are male
df.query('gender == "male"').count() / df.count() * 100

student_id    48.6
gender        48.6
major         48.6
admitted      48.6
dtype: float64

In [8]:
# df['admitted'].value_counts()

In [9]:
# Admission rate for females
df.query('gender == "female" & admitted == 1').count() / df.query('gender == "female"').count() * 100

student_id    28.793774
gender        28.793774
major         28.793774
admitted      28.793774
dtype: float64

In [10]:
# Admission rate for males
df.query('gender == "male" & admitted == 1').count() / df.query('gender == "male"').count() * 100

student_id    48.559671
gender        48.559671
major         48.559671
admitted      48.559671
dtype: float64

### Proportion and admission rate for physics majors of each gender

In [11]:
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [12]:
# What proportion of female students are majoring in physics?
df.query('gender == "female" & major == "Physics"').count() / df.query('gender == "female"').count() * 100

student_id    12.062257
gender        12.062257
major         12.062257
admitted      12.062257
dtype: float64

In [13]:
# What proportion of male students are majoring in physics?
df.query('gender == "male" & major == "Physics"').count() / df.query('gender == "male"').count() * 100

student_id    92.592593
gender        92.592593
major         92.592593
admitted      92.592593
dtype: float64

In [57]:
# Admission rate for female physics majors
df.query('gender == "female" & major == "Physics" & admitted == 1').count() / df.query('gender == "female" & major == "Physics"').count() * 100

student_id    74.193548
gender        74.193548
major         74.193548
admitted      74.193548
dtype: float64

In [58]:
# Admission rate for male physics majors
df.query('gender == "male" & major == "Physics" & admitted == 1').count() / df.query('gender == "male" & major == "Physics"').count() * 100

student_id    51.555556
gender        51.555556
major         51.555556
admitted      51.555556
dtype: float64

### Proportion and admission rate for chemistry majors of each gender

In [16]:
# What proportion of female students are majoring in chemistry?
df.query('gender == "female" & major == "Chemistry"').count() / df.query('gender == "female"').count() * 100

student_id    87.937743
gender        87.937743
major         87.937743
admitted      87.937743
dtype: float64

In [17]:
# What proportion of male students are majoring in chemistry?
df.query('gender == "male" & major == "Chemistry"').count() / df.query('gender == "male"').count() * 100

student_id    7.407407
gender        7.407407
major         7.407407
admitted      7.407407
dtype: float64

In [41]:
# Admission rate for female chemistry majors
s = df.query('gender == "female" & major == "Chemistry" & admitted == 1').count() / df.query('gender == "female" & major == "Chemistry"').count()*100
s[0]

22.566371681415927

In [29]:
# Admission rate for male chemistry majors
df.query('gender == "male" & major == "Chemistry" & admitted == 1').count() / df.query('gender == "male" & major == "Chemistry"').count() * 100

student_id    11.111111
gender        11.111111
major         11.111111
admitted      11.111111
dtype: float64

### Admission rate for each major

In [43]:
# Admission rate for physics majors
df.query('major == "Physics" & admitted == 1').count() / df.query('major == "Physics"').count() * 100

student_id    54.296875
gender        54.296875
major         54.296875
admitted      54.296875
dtype: float64

In [44]:
# Admission rate for chemistry majors
df.query('major == "Chemistry" & admitted == 1').count() / df.query('major == "Chemistry"').count() * 100

student_id    21.721311
gender        21.721311
major         21.721311
admitted      21.721311
dtype: float64